body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
}

input {
    padding: 3px;
    margin: 3px;

    border: 3px solid #111;
    border-bottom: 3px solid red;
    text-align: center;

    background-color: white;
}

textarea, input[type=text], input[type=password] {
    background-image: url('/img/black_scp_emblem.png');
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

textarea {
    padding-top: 25px;
}

input[type=submit] {
    text-decoration: none;
    border: none;
}

input:focus {
    border: 3px solid red;
}

section {
    overflow: auto;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 25px;

    margin-bottom: 25px;
    background-color: #100a10;

    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 0px;
}

a {
    color: red;
}

table {
    width: 100%;
}
td {
    width: auto;
    margin: auto;
}

.rightmost {
    text-align: right;
}
.leftmost {
    text-align: left;
}
.infobox {
    float: right;
    clear: right;
    border: 1px white solid;
    padding: 5px;
    margin: 5px;
}

div.chat {
    padding: 10px;
    background-color: black;
    text-align: left;
    overflow: auto;
    height: 400px;
    word-wrap: anywhere;
}

p.message {
    margin: auto;
}

.Keter {
    background-color: red;
    color: white;
}
.Euclid {
    background-color: orangered;
    color: white;
}
.Safe {
    background-color: green;
    color: white;
}
.Dark .Notice .Unrestricted {
    background-color: green;
}
.Vlam .Caution .Restricted {
    background-color: blue;
}
.Keneq .Warning .Confidential {
    background-color: yellow;
}
.Ekhi .Danger .Secret {
    background-color: orange;
}
.Amida .Critical [.Top Secret] {
    background-color: red;
}
